*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}
#nav_head_t{
    grid-area: he;
}
#burger{
    margin-right: 87.5px;
    cursor: pointer;
}
.logo{
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
    height: 7vh;
    max-width: 20vw;
}
.logo_img{
    height: 7vh;
}
#nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color: skyblue;
    position: absolute;
    right: 0px;
    top: -90vh;
    width: 200px;
    list-style: none;
    transition: all .6s;

}
#nav_links a{
    text-decoration: none;
    color: midnightblue;
    font-size: 1.25rem;
    letter-spacing: 0.18rem;
    font-weight: bold;
    display: flex;
    height: 3rem;
    width: 200px;
    justify-content: center;
    align-items: center;
}
#nav_links a:hover{
    color: white;
    background-color: darkblue;
    transition: ease .6s;
}
.b_line{
    width: 24px;
    height: 4px;
    background-color: black;
    margin: 4px;
    border-radius: 25%;
    transition: all .6s;
}
.cross #line_two{
    opacity: 0;
}
.cross #line_one{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.cross #line_three{
    transform: rotate(45deg) translate(-5px, -6px);
}
.nav_active{
    transform: translate(0, 100vh);
}
.nav_head{
    position: sticky;
    top: 0;
}
#div_time{
    width: auto;
    height: auto;
    grid-area: ma;
    background-image: url("../img/Terminal_pic1.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_main{
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100vw;
    grid-template-areas: 
    "he"
    "ma";
}
#div_timetable{
    background-color: rgba(232, 232, 232, 0.6);
    margin: 20px;
    width: 90vw;
    height: auto;
    border-radius: 3%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "de"
    "ar"
    "tr"
    "bu";
}
.time_show{
    background-color: rgba(0, 0, 0, 0.94);
    height: 50vh;
    width: auto;
    margin: 15px;
    border-radius: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.time_text{
    font-size: 4vw;
    color: white;
    width: 30vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#avg_time{
    grid-area: de;
}
#ank_time{
    grid-area: ar
}
#tag_time{
    grid-area: tr;
}
#buss_time{
    grid-area: bu;
}
.h2_time{
    color: white;
    font-size: 5vw;
}
#g_map{
    width: 90vw;
    height: 40vh;
    grid-area: ma;
    margin-top: 30px;
    margin-left: 5vw;
    margin-bottom: 30px;
}
#div_info{
    background-color: rgb(182, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "q1"
    "q2"
    "q3"
    "q4"
    "q5"
    "ma";
}
.info_a{
    border-radius: 4%;
    background-color: skyblue;
    height: auto;
    width: 70vw;
    align-self: center;
    margin-top: 30px;
    margin-left: 15vw;
}
.info_q{
    margin: 4%;
}
#info_a1{
    grid-area: q1;
}
#info_a2{
    grid-area: q2;
}
#info_a3{
    grid-area: q3;
}
#info_a4{
    grid-area: q4;
}
#info_a5{
    grid-area: q5;
    margin-bottom: 15px;
}
.info_aa{
    margin: 10px;
    font-size: 1.25rem;
}
#div_shop{
    background-color: skyblue;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sb1"
    "sb2"
    "sb3"
    "sb4"
    "sb5"
    "sb6"
    "sb7"
}
#shop_box1{
    grid-area: sb1;
}
#shop_box2{
    grid-area: sb2;
}
#shop_box3{
    grid-area: sb3;
}
#shop_box4{
    grid-area: sb4;
}
#shop_box5{
    grid-area: sb5;
}
#shop_box6{
    grid-area: sb6;
}
#shop_box7{
    grid-area: sb7;
}
.shop_box{
    display: grid;
    margin: 20px auto;
    border-radius: 6%;
    background-color: navy;
    grid-template-rows: auto;
    grid-template-areas: 
    "te"
    "im";
}
#shop_t1{
    grid-area: te;
}
.shop_b{
    width: auto;
    max-width: 95vw;
    margin: 30px auto;
    max-width: 80vw;
    grid-area: im;
}
.shop_tt{
    font-size: 1.5rem;
    margin: 20px;
}
.shop_t{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: te;
    color: white;
}
#div_home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#body_home{
    background-image: url("../img/skyler-smith-9xdho4stJQ8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
#home_t{
    background-color: rgba(232, 232, 232, 0.9);
    margin: 20px;
    width: 80vw;
    border-radius: 7%;
}
.p_home_t{
    margin: 20px;
    font-size: 1.25rem;
}
h1{
    margin-top: 30px;
}
#div_link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.home_link{
    background-color: rgba(0, 0, 0, 0.94);
    border-radius: 7%;
    height: 20vh;
    width: 50vw;
    margin-top: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}
.link_p{
    font-size: 3rem;
    color: white;
}
.time_info_board{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80vw;
}
.time_gate{
    width: 10vw;
}
.time_time{
    width: 15vw;
}
.site_link{
    display: none;
}
.home_link :hover{
    border-radius: 7%;
    height: 20vh;
    width: 15vw;
    min-width: 300px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width: 800px){
    .time_info_board{
        width: 40vw
    }
    #div_timetable{
        grid-template-areas: 
        "de ar"
        "tr bu";
    }
    .time_text{
        font-size: 2.5vw;
        width: 15vw;
    }
    .time_gate{
        width: 5vw;
    }
    .time_time{
        width: 7.5vw;
    }
    .h2_time{
        font-size: 3vw;
    }
    #div_info{
        grid-template-rows: auto;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: 
        "q1 ma"
        "q2 ma"
        "q3 ma"
        "q4 ma"
        "q5 ma";
    }
    .info_a{
        width: 40vw;
        margin-left: 5vw;
    }
    #g_map{
        height: 80vh;
        width: 40vw;
    }
    .shop_box{
        min-height: 4vh;
        border-radius: 4%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "im te";
    }
    .shop_b{
        max-width: 35vw;
    }
    .shop_t{
        max-width: 40vw;
    }
    #div_link{
        flex-direction: row;
    }
    .home_link{
        width: 15vw;
        min-width: 300px;
        margin-bottom: 10vh;
    }
    #home_t{
        width: 60vw;
    }
    #burger{
        display: none;
    }
    .site_link{
        display: initial;  
    }
    .head_links{
        margin-top: 0;
        margin-right: 0;
        height: 100px;
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .site_link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 15vw;
        font-size: 2rem;
    }
    .site_link :hover{
        color: white;
        background-color: midnightblue;
        border-radius: 7%;
        height: 50px;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 1400px){
    .shop_box{
        width: 80vw;
    }
}